<h3>People at <%= @flyer.airport.name %></h3>

<h4>Click to View Profile</h4>
  <ul>
    <% Flyer.all.select do |fly| %>
      <% if fly.airport.name == @flyer.airport.name && fly.to_s != @flyer.to_s %>
        <li><%= link_to fly.to_s, flyer_path(fly) %></li>
      <% end %>
    <% end %>
  </ul>
