<!!DOCTYPE html>
<html>


  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">iFly Airport Social Networking!</h1>

      <p>Social Networking made easy, when your on the fly. iFly is the first Airport Networking Application for people to meet while at the airport.
       Meet compabable individual in your career field, choose one of the dining options at the airport of your choice. </p>

    </div>
    <div id="myDIV"></div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Testimony</h2> 
        <p>Robert and Mathalia met at the Atlanta airport. This was a macth made in heaven. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>How to Meet Your Match</h2>
        <p> </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Best Place To Meet</h2>
        <p>Airport Restaurants,
           Coffee Shop, Gate Area</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

